doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        title ProducDash
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css', rel='stylesheet')
        // Bootflat theme
        link(href='stylesheets/bootflat/css/bootflat.css', rel='stylesheet')
        // Custom stylesheets
        link(href='stylesheets/sidebar_stylesheet.css', rel='stylesheet')
        link(href='stylesheets/tasks_stylesheet.css', rel='stylesheet')
        // Load jQuery Library
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(type='text/javascript', src='stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js')
        // Load custom JavaScript
        script(type='text/javascript', src='javascripts/Tasks/mainTasks.js')
        script(type='text/javascript', src='javascripts/Tasks/cache.js')
        script(type='text/javascript', src='javascripts/Tasks/taskDisplay.js')
        script(type='text/javascript', src='javascripts/Tasks/modTask.js')
        script(type='text/javascript', src='javascripts/Tasks/helperTasks.js')
    body
        .container-fluid
            .row
                .col-sm-3.col-md-3.col-lg-2.sidebar
                    ul.nav.nav-sidebar
                        li.active
                            a(href='/')
                                h5 Overzicht
                        li
                            a(href='/text')
                                h4 Tekst
            // toevoegen todo balk
            .row
                .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.col-lg-5.col-lg-offset-2
                    .well
                        .input-group
                            input#newtask-input.form-control(type='text', placeholder='Nieuwe Todo')
                            span.input-group-btn
                                #newtask-button.btn.btn-primary(type='button') Toevoegen!
                        .btn-group(role='group')
                            button#persubject-button.btn.btn-primary(type='button') Per vak
                            button#permainlist-button.btn.btn-default(type='button') Per lijst
            // todo's
            #tasks.row
